h1{
    font-family: 'Libre Baskerville', Arial;
    color: rgb(37, 0, 0);
    text-align: center;
}

p{
    font-family: 'Roboto', Arial;
    color: rgb(37, 0, 0);
}

li, a{
    font-family: 'Roboto', Arial;
    color: rgb(37, 0, 0);
    text-decoration: none;
    list-style: none;
    text-align: center;
}


main{
    background-color: antiquewhite;
    padding: 5rem;
    border-radius: 2rem;
    border: solid rgb(167, 45, 45);
}

.caixa{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul{
    padding: 0;
}
li{
    margin: 1rem;
}

a:hover {
  border-bottom: 4px solid rgb(167, 45, 45);
}

body{
    margin: 0;
    background-image: url(../images/imagemidioma.jpeg);
    background-size: cover;
}