h1{
    font-family: 'Libre Baskerville', Arial;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3rem;
}

p{
    font-family: 'Roboto', Arial;
    color: aliceblue;
    font-size: 2rem;
}

li, a{
    font-family: 'Roboto', Arial;
    color: rgb(37, 0, 0);
    text-decoration: none;
    list-style: none;
    text-align: center;
}


li{
    background-color: rgb(255, 255, 255);
    width: 6rem;
    height: fit-content;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.caixa{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul{
    padding: 0;
}
li{
    margin: 1rem;
}

a:hover {
  border-bottom: 4px solid rgb(142, 0, 0);
}

body{
    margin: 0;
    background-image: url(../images/imagemidioma.jpeg);
    background-size: cover;
}