@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  height: fit-content;
  background-color: rgb(201, 255, 187);
  margin: 0px;
}

main {
  height: fit-content;
}

/* PRIMEIRA ROLAGEM */

.rolagem1 {
  width: 100%;
  height: 100vh;
  background-image: url(../images/microscopio.jpg);
  background-size: cover;
  background-position: right;
  margin: 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

.fade {
  height: 100%;
  background-image: linear-gradient(to left, rgba(225, 0, 0, 0), rgb(16, 168, 84));
  margin: 0;
}

.flex-container1 {
  height: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  font-family: 'Libre Baskerville', Arial;
  font-size: 5rem;
  margin: 0;
  color: aliceblue;
}

.subtitulo {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  color: aliceblue;
}

/* MENU DE NAVEGAÇÃO */

nav {
  background-color: rgb(11, 114, 57);
  padding: 3px;
  position: sticky;
  top: 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}



a,
li {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: aliceblue;
}

.link:hover {
  border-bottom: 4px solid rgb(16, 168, 84);
}

/*  SEGUNDA ROLAGEM */

.rolagem2 {
  height: fit-content;
  color: rgb(11, 114, 57);
  position: relative;
  top: 3rem;
  margin: 3rem;
}

.titulo2 {
  font-family: 'Libre Baskerville', Arial;
  font-size: 3rem;
}

.enterocito {
  width: 22rem;
  height: 22rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgb(11, 114, 57);
}

.paragrafo {
  width: 700vw;
  height: fit-content;
  display: flex;
  background-color: aliceblue;
  margin-top: 0px;
  margin-right: 2rem;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  text-align: justify;
  text-indent: 1rem;
  align-items: center;
  border-style: solid;
  border-color: rgb(11, 114, 57);
}

.textop {
  margin: 2rem;
  font-size: 22px;
}

.titulo2 {
  display: flex;
  justify-content: center;
}

.container-flex2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  font-family: 'Libre Baskerville', Arial;
  color: rgb(201, 255, 187);
  background-color: rgb(11, 114, 57);
  font-size: 20px;
  padding: 10px;
  border: 5px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

button:hover {
  background-color: rgb(16, 168, 84);
  color: aliceblue;
  transform: scale(1.1);
}

.rodape {
  z-index: 0;
  margin-top: 2rem;
  background-color: rgb(16, 168, 84);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;


}

.ifsp {
  margin: 1rem;

  img {
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(11, 114, 57);
  }

  p {
    margin: 0rem;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
  }
}

.email {
  margin: 1rem;
  color: aliceblue;
  font-family: "Roboto", sans-serif;

  h4 {
    margin-top: 0rem;
  }

  p {
    margin-bottom: 0rem;
  }
}

@media (max-width:480px) {
  .flex-container1 {
    align-items: center;
  }

  .container-flex2 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .paragrafo {
    width: fit-content;
    margin-right: 0;
  }

  .textop {
    font-size: 1.25rem;
    margin: 1rem;
  }

  .titulo2 {
    font-size: 2rem;
  }

  .rodape {
    flex-direction: column;
    align-items: flex-start;
  }

  .ifsp {
    img {
      width: 50%;
    }
  }

  ul {
    margin: 5px;
  }

  .rolagem1 {
    height: 50vh;
  }

  .rolagem2 {
    margin: 1rem;
  }

  .fade {}

  .titulo {
    font-size: 3rem;
  }

  .subtitulo {
    font-size: 1rem;
  }
}