@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  height: fit-content;
  background-color: #fccece;
  margin: 0px;
}

main {
  height: fit-content;
}

/* ROLAGEM 1 */
.rolagem1 {
  width: 100%;
  height: 115vh;
  background-image: linear-gradient(to left, rgba(225, 0, 0, 0), #be2e51)
}

.fade {
  padding-left: 2rem;
  height: 115vh;
  background-image: url(../images/enterocitocelula.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: aliceblue;

  h1 {
    margin-bottom: 0;
    font-size: 5rem;
    font-family: 'Libre Baskerville', Arial;
  }

  p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
  }
}


/* MENU DE NAVEGAÇÃO */

nav {
  background-color: #be2e51;
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 2;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}



a,
li {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: aliceblue;
}

.link:hover {
  border-bottom: 4px solid #fccece;
}

.imagem {
  display: none;
}

.celula {
  width: 20rem;
  height: 22rem;
}

/*ROLAGEM 2*/
.rolagem2 {
  height: fit-content;
  width: fit-content;

  div {
    margin: 3rem;
  }
}

.titulo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #36025f;
  font-family: 'Libre Baskerville', Arial;
}

.explc {
  margin: 0rem;
  background-color: aliceblue;
  border-radius: 1rem;
  border-style: solid;
  border-color: #36025f;

  .primeiro {
    padding-top: 0rem;
  }

  .ultimo {
    padding-bottom: 0rem;
  }
}

.topico {
  margin: 0rem;
  display: flex;
  align-items: center;
  position: relative;

  p {
    position: absolute;
    margin-left: 4rem;
    font-size: 1.5rem;
    color: black;
  }
}

.num {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  margin-bottom: 0rem;
  width: 3rem;
  height: 2.8rem;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(1, 232, 232);
  background-color: aqua;
}

.paragrafo {
  margin: 0rem;
  margin-left: 3rem;
  margin-bottom: 0rem;
  text-indent: 1rem;
  font-family: 'Libre Baskerville', Arial;
  text-justify: distribute-all-lines;
  color: black;
  font-family: "Roboto", Arial;
  font-size: 1.2rem;
}

.rodape {
  margin-top: 2rem;
  background-color: #be2e51;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.ifsp {
  margin: 1rem;

  img {
    border-radius: 10px;
    width: 22rem;
    border-style: solid;
    border-color: #a32847;
  }

  p {
    margin: 0rem;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
  }
}

.email {
  margin: 1rem;
  color: aliceblue;
  font-family: "Roboto", sans-serif;

  h4 {
    margin-top: 0rem;
  }

  p {
    margin-bottom: 0rem;
  }
}

@media (max-width: 768px) {
  nav {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
      padding-left: 0rem;
    }

    li {
      padding: 1rem;
    }

  }

  @media(max-width: 631px) {
    .titulo2 {
      margin-left: 25%;
      margin-right: 25%;
    }
  }

  .rolagem1 {
    height: auto;
  }

  .rolagem2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

    div {
      margin: 1rem;
    }
  }

  .explc {
    display: flex;
    flex-direction: column;
    width: fit-content;

    div {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .num {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }

  .topico {
    display: flex;
    position: static;

    p {
      position: static;
      margin: 1rem;
      font-size: 1.5rem;
      display: flex;
      flex-direction: row;
    }
  }

  .paragrafo {
    text-align: justify;
    margin-left: 0.5rem;
    width: fit-content;
    font-size: 1rem;
  }

  .rodape {
    flex-direction: column;
    align-items: center;
  }

  .ifsp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      width: 50%;
      margin-bottom: 0.5rem;
    }
  }

  .imagem {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .celula{
    height: 27rem;
    border-top-right-radius: 0.9rem;
    border-bottom-right-radius: 0.8rem ;
  }

  .fade {
    background-image: none;
    height: auto;
    padding: 0rem;
    align-items: center;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1rem;
    }
  }

}